Options -Indexes
DirectorySlash Off
DirectoryIndex router.php

RewriteEngine On
RewriteRule ^(data|database|tools|tests)(/|$) - [F,L]
RewriteRule ^php\.ini$ - [F,L]
RewriteRule ^\.env - [F,L]
RewriteRule ^.*$ router.php [L,QSA]
